html {
    scroll-behavior: smooth;
}

::selection {
    background: grey;
    color: black;
}

body {
    background-color: #2b2b2b;
    margin: 0px;
}

header {
    padding: 25px;
}

.title {
    font-family: 'Source Sans Pro';
    font-size: 35px;
    color: #cacaca;
    display: inline;
}

.subtitle {
    font-family: 'Source Sans Pro';
    font-size: 35px;
    color: #b1b1b1;
    padding: 25px;
}

header {
    overflow: hidden;
    position: sticky;
    top: 0;
    z-index: 1;
    background-color: #2b2b2be7 !important;
    top: 0;
}

nav {
    margin-top: 15px;
    float: right;
    clear: both;
}

nav a {
    font-family: 'Source Sans Pro';
    font-size: 15px;
    color: #cacaca;
    text-decoration: none;
    margin-left: 25px;
}

.start {
    height: 100vh;
}

.start img {
    position: absolute;
    min-width: 100%;
    height: 100%;
}

#img1 {
    opacity: 0.5;
    animation-name: img1_animation;
    animation-duration: 25s;
    animation-iteration-count: infinite;
}

@keyframes img1_animation {
    0% {
        opacity: 0;
    }
    50% {
        opacity: 0.2;
    }
    100% {
        opacity: 0;
    }
}

#img2 {
    animation-name: img2_animation;
    animation-duration: 25s;
    animation-iteration-count: infinite;
}

@keyframes img2_animation {
    0% {
        opacity: 0.2;
    }
    50% {
        opacity: 0;
    }
    100% {
        opacity: 0.2;
    }
}

.initial_text {
    font-family: 'Source Sans Pro';
    font-size: 60px;
    color: #c2c2c2;
    margin-left: 5%;
    top: 15%;
    position: relative;
    animation-name: initial_text_animation;
    animation-duration: 3.5s;
}

@keyframes initial_text_animation {
    from {
        padding-top: 40px;
    }
    to {
        padding-top: 0px;
    }
}

.offers {
    font-family: 'Source Sans Pro';
    font-size: 20px;
    color: #8a8a8a;
    padding: 25px;
    background-color: #333333;
    animation: offers_animation;
    animation-duration: 1.5s;
}

@keyframes offers_animation {
    from {
        opacity: 0.1;
        padding-top: 65px;
    }
    to {
        opacity: 1;
        padding-top: 25px;
    }
}

.offers a {
    color: #686767;
    text-decoration: none;
    transition: 0.5s;
}

.offers a:hover {
    color: #7e7e7e;
    text-decoration: none;
}

.offer {
    font-family: 'Source Sans Pro';
    padding: 25px;
    margin: 25px;
    -webkit-box-shadow: 10px 10px 20px 0px rgba(0,0,0,1);
    -moz-box-shadow: 10px 10px 20px 0px rgba(0,0,0,1);
    box-shadow: 10px 10px 20px 0px rgba(0,0,0,1);
    animation: offer_animation;
    animation-duration: 1.5s;
    transition: 0.5s;
}

@keyframes offer_animation {
    from {
        -webkit-box-shadow: 0px 0px 0px 0px rgba(0,0,0,1);
        -moz-box-shadow: 0px 0px 0px 0px rgba(0,0,0,1);
        box-shadow: 0px 0px 0px 0px rgba(0,0,0,1);
        margin-top: 65px;
    }
    to {
        -webkit-box-shadow: 10px 10px 20px 0px rgba(0,0,0,1);
        -moz-box-shadow: 10px 10px 20px 0px rgba(0,0,0,1);
        box-shadow: 10px 10px 20px 0px rgba(0,0,0,1);
        margin-top: 25px;
    }
}

.offer:hover {
    transform: scale(1.01);
    -webkit-box-shadow: 10px 10px 43px 0px rgba(0,0,0,1);
    -moz-box-shadow: 10px 10px 43px 0px rgba(0,0,0,1);
    box-shadow: 10px 10px 43px 0px rgba(0,0,0,1);
}

.offer h1 {
    font-size: 40px;
    color: #a3a3a3;
    margin: 0px;
}

.offer .introduction {
    font-size: 17px;
    color: #7e7e7e;
}

.offer .prices {
    color: #666565;
}

.offer .prices p {
    color: #8f8f8f;
}

.offer .simulation {
    color: #666565;
}

.offer .simulation p {
    color: #8f8f8f;
}

#n_pages {
    border: solid;
    border-width: 1px;
    border-radius: 10px;
    border: none;
    padding: 5px;
    background-color: #464646;
    color: #6b6b6b;
}

.offer .example {
    text-decoration: none;
    color: #858585;
}